$def with (form, success=False, count=0)

$if success:
    <div class="success">$count email(s) sent.</div>

<label for="from">From: </label>
<div class="fixed_input">$get_site_config('mail_sender')</div>
$:form.render_css()
<button name="submit" type="submit" onclick="send_mails()">Send Emails</button> 
    
$#<span id="test_sql_query"><a class="animated" href="javascript:test_sql_query()">Test SQL query &raquo;</a></span>
$#<form method="post" action="/send">
$#    $:form.render_css()
$#    <button name="submit" type="button" onclick="sendmails()">Send Emails</button> 
$#    $#<button name="submit" type="submit">Send Emails</button> 
$#</form>